<% # BONUS A list of that user's top 5 most written about destinations (the destinations with the most posts) %>

<h1><%= @blogger.name %>'s Page</h1>

<h3>Total Likes: <%= @blogger.total_likes %></h3>

<h2>Most Liked Post: <%= link_to @blogger.most_liked_post.title, post_path(@blogger.most_liked_post) %></h2>